#top {
	width: 800px;
	height: 200px;
	background-color: blue;	
}
.side {
	width: 200px;
	height: 400px;
	background-color: red;
	float: left;
	display:inline-block;
	
}
.main {
	width: 600px;
	height: 400px;
	background-color: yellow;
	float:left;
}